* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #2d4b4d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
    width: 85%;
    margin: 0 auto;
}

.cabecera h1 {
    text-align: center;
    padding: 15px 0;
    font-size: 60px;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: center;
}

.main-section .dibujo {
    display: grid;
    justify-items: center;
}

.main-section .lienzo {
    margin-top: 30px;
    background: #fff ;
    padding: 25px;
}
.form p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form p label {
    font-size: 35px;
}

.main-section h1 {
    font-size: 52px;
}

.container .pie {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

.pie h4 {
    font-size: 16px;
}